@model AtlasTracker.Models.ViewModels.AssignDeveloperViewModel
 @{
    ViewData["Title"] = "Assign Developer";
} 

<h1>Assign Ticket Developer</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="AssignDeveloper" asp-controller="Tickets" enctype="multipart/form-data">
            <input hidden asp-for="Ticket!.Id" />
            <h2>@Model.Ticket.Title </h2>
            <p>@Model.Ticket.Description </p>
            <div class="form-group">
                <label class="control-label">Select Ticket</label>
                <select asp-for="DevId" class="form-control" asp-items="@Model.DevelopersList">
                    <option></option>
                </select>
                <input type="submit" value="Assign" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="UnassignedTickets">Back to Unassigned Tickets</a>
</div>
